<div class="text-layout">
  <h1>{{ nombre | titlecase}}</h1>
  <h2>{{ valor | number}}</h2>
  <h1>{{ obj | json }}</h1>
</div>

<button pButton (click)="mostrarNombre()" icon="pi pi-bell" iconPos="right" class="p-button-help"
  label="Cambiar Nombre"></button>

<p-card header="{{nombre}}">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum esse neque cupiditate modi eveniet pariatur, iste hic
  enim molestias a possimus voluptate soluta maiores, quo eos ullam! A, non quae.
</p-card>
